<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meer_.bookreader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/adds"
        android:label="FXProfit"
        android:roundIcon="@mipmap/adds_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bannarads" />
        <activity android:name=".intersterialads" />
        <activity android:name=".WebsiteVisit" />
        <activity android:name=".FacebookVisit" />
        <activity android:name=".ClickToNext" />
        <activity android:name=".GoToNext" />
        <activity android:name=".addshow" />
        <activity android:name=".TaskFirst" />
        <activity android:name=".TaskSecond" />
        <activity android:name=".Task_Three" />
        <activity android:name=".TaskFour" />
        <activity android:name=".Youtube" />
        <activity android:name=".YoutubeChannel" />
        <activity android:name=".LastTask"></activity>
    </application>

</manifest>